n8n/backup/workflows/data/n8n_workflows.json
[{"createdAt":"2024-08-31T17:27:40.659Z","updatedAt":"2024-08-31T17:28:22.680Z","id":"eu2YC1WHX3RcTvrk","name":"scrape_webpages","active":false,"nodes":[{"parameters":{},"id":"e7374976-f3c1-4f60-ae57-9eec65444216","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[423,376],"typeVersion":1},{"parameters":{"model":"gpt-4-1106-preview","options":{"frequencyPenalty":0.3,"temperature":0.7,"timeout":300000}},"id":"97e84a23-9536-43cd-94e9-b8166be8ed32","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[643,596],"typeVersion":1},{"parameters":{"url":"={{ encodeURI($json.query.url) }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"id":"63d98361-8978-4042-84e7-53a0e226f946","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[1020,900],"typeVersion":4.1,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ $json?.data.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i)[1] }}"}]},"include":"selected","includeFields":"HTML","options":{}},"id":"17d4b5ae-f5d3-4793-8419-d3c879f7f50d","name":"Exctract HTML Body","type":"n8n-nodes-base.set","position":[1440,1180],"typeVersion":3.2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasOwnProperty('error') }}","value2":true}]}},"id":"36c38ee4-724c-4ba2-a59a-ac0bbc912e94","name":"Is error?","type":"n8n-nodes-base.if","position":[1220,900],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"page_content","stringValue":"={{ $('QUERY_PARAMS').first()?.json?.query?.url == null ? \"INVALID action_input. This should be an HTTP query string like this: \\\"?url=VALIDURL&method=SELECTEDMETHOD\\\". Only a simple string value is accepted. JSON object as an action_input is NOT supported!\" : JSON.stringify($json.error) }}"}]},"include":"selected","includeFields":"HTML","options":{}},"id":"4e4d97ce-14a9-4f4f-aa75-f218784d9ed9","name":"Stringify error message","type":"n8n-nodes-base.set","position":[1440,680],"typeVersion":3.2},{"parameters":{},"id":"8452e5c4-aa29-4a02-9579-8d9da3727bcb","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[420,900],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ ($json.HTML || \"HTML BODY CONTENT FOR THIS SEARCH RESULT IS NOT AVAILABLE\").replace(/<script[^>]*>([\\s\\S]*?)<\\/script>|<style[^>]*>([\\s\\S]*?)<\\/style>|<noscript[^>]*>([\\s\\S]*?)<\\/noscript>|<!--[\\s\\S]*?-->|<iframe[^>]*>([\\s\\S]*?)<\\/iframe>|<object[^>]*>([\\s\\S]*?)<\\/object>|<embed[^>]*>([\\s\\S]*?)<\\/embed>|<video[^>]*>([\\s\\S]*?)<\\/video>|<audio[^>]*>([\\s\\S]*?)<\\/audio>|<svg[^>]*>([\\s\\S]*?)<\\/svg>/ig, '')}}"}]},"options":{}},"id":"063220c2-fa4d-4d5e-9549-7712aaa72921","name":"Remove extra tags","type":"n8n-nodes-base.set","position":[1640,1180],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ $json.HTML.replace(/href\\s*=\\s*\"(.+?)\"/gi, 'href=\"NOURL\"').replace(/src\\s*=\\s*\"(.+?)\"/gi, 'src=\"NOIMG\"')}}"}]},"options":{}},"id":"036511d7-a4be-4bbf-b4bc-47ddfabfe76f","name":"Simplify output","type":"n8n-nodes-base.set","position":[2020,1080],"notesInFlow":true,"typeVersion":3.2,"notes":"remove links and image URLs"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('CONFIG').first()?.json?.query?.method }}","operation":"contains","value2":"simplif"}]}},"id":"5e2b5383-adcf-4de0-a406-4f5d631b5e8a","name":"Simplify?","type":"n8n-nodes-base.if","position":[1840,1180],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"query","type":"objectValue","objectValue":"={{ $json.query.substring($json.query.indexOf('?') + 1).split('&').reduce((result, item) => (result[item.split('=')[0]] = decodeURIComponent(item.split('=')[1]), result), {}) }}"}]},"options":{}},"id":"a0fc004a-ab0f-4b31-94df-50f5eee69c86","name":"QUERY_PARAMS","type":"n8n-nodes-base.set","position":[620,900],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"query.maxlimit","type":"numberValue","numberValue":"={{ $json?.query?.maxlimit == null ? 70000 : Number($json?.query?.maxlimit) }}"}]},"options":{}},"id":"3b6599d6-ce9a-4861-9b52-07156eb52539","name":"CONFIG","type":"n8n-nodes-base.set","position":[820,900],"typeVersion":3.2},{"parameters":{"content":"### Convert the query string into JSON, apply the limit for a page length","height":235.79999999999995,"width":556.25},"id":"14f683be-76f6-4034-9a0e-d785738b135f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[381,834],"typeVersion":1},{"parameters":{"content":"## Send an error message:\n1. If query param was incorrect, return the instruction. AI Agent should pick up on this and adapt the query on the next iteration.\n2. If the query is OK and an error was during the HTTP Request, then send back the original error message.","height":285.7,"width":491},"id":"6deabcb7-a984-48ec-af2a-8c70b3a4e4bf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1380,540],"typeVersion":1},{"parameters":{"content":"## Post-processing of the HTML page:\n1. Keep only <BODY> content\n2. Remove inline <SCRIPT> tag entirely, as well as: NOSCRIPT, IFRAME, OBJECT, EMBED, VIDEO, AUDIO, SVG, and HTML comments.\n3. In case query parameter method=simplified, replace all page URLs (a href) and IMG (src) with NOURL / NOIMG - this may save up to 20% of the page length\n4. Convert the remaining HTML to Markdown. This step further reduces the length of the page: long HTML tags and styles are eliminated, but the markdown syntax keeps some page structure. This gives much better results compared to just a blank text.\n5. Finally, check the page length. If it's too long, send an \"ERROR: PAGE CONTENT TOO LONG\" instead of the actual page. Of course, you could split the page content in chunks, but sometimes long pages just don't have a needed content, so it makes little sense to burn tokens on them.","height":472.5,"width":1200},"id":"df1e8d00-0e18-44fa-8f94-8a53c27f7c88","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1380,860],"typeVersion":1},{"parameters":{"content":"## Example ReAct AI Agent\n1. Agent Prompt is default\n2. Check the description of the HTTP_Request_Tool, it guides the agent to provide a query string with several parameters instead of a JSON object","height":483.0226244343891,"width":616.8597285067872},"id":"6afe96a0-0fba-4ae1-ab8f-f7da56d420b1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"agent":"reActAgent","options":{"humanMessageTemplate":"{input}\n\n{agent_scratchpad}","prefix":"Answer the following questions as best you can. You have access to the following tools:","suffixChat":"Begin! Reminder to always use the exact characters `Final Answer` when responding.","suffix":"Begin!\n\n\tQuestion: {input}\n\tThought:{agent_scratchpad}"}},"id":"d5ff2114-1e74-43cf-9f3c-744c241988db","name":"ReAct AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[643,376],"typeVersion":1},{"parameters":{"html":"={{ $json.HTML }}","destinationKey":"page_content","options":{}},"id":"cc7aef4a-a1fb-4a69-a670-1f200f9e9541","name":"Convert to Markdown","type":"n8n-nodes-base.markdown","position":[2200,1180],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"page_content","stringValue":"={{ $json.page_content.length < $('CONFIG').first()?.json?.query?.maxlimit ? $json.page_content : \"ERROR: PAGE CONTENT TOO LONG\" }}"},{"name":"page_length","type":"numberValue","numberValue":"={{ $json.page_content.length }}"}]},"include":"selected","options":{}},"id":"11806e8c-5fc4-4d9d-8144-179356993aa7","name":"Send Page Content","type":"n8n-nodes-base.set","position":[2400,1180],"typeVersion":3.2},{"parameters":{"name":"HTTP_Request_Tool","description":"Call this tool to fetch a webpage content. The input should be a stringified HTTP query parameter like this: \"?url=VALIDURL&method=SELECTEDMETHOD\". \"url\" parameter should contain the valid URL string. \"method\" key can be either \"full\" or \"simplified\". method=full will fetch the whole webpage content in the Markdown format, including page links and image links. method=simplified will return the Markdown content of the page but remove urls and image links from the page content for simplicity. Before calling this tool, think strategically which \"method\" to call. Best of all to use method=simplified. However, if you anticipate that the page request is not final or if you need to extract links from the page, pick method=full.","workflowId":"={{ $workflow.id }}","responsePropertyName":"page_content"},"id":"a3a6b199-517b-4987-8281-d7997a32f54b","name":"HTTP_Request_Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[763,596],"typeVersion":1}],"connections":{"CONFIG":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Is error?":{"main":[[{"node":"Stringify error message","type":"main","index":0}],[{"node":"Exctract HTML Body","type":"main","index":0}]]},"Simplify?":{"main":[[{"node":"Simplify output","type":"main","index":0}],[{"node":"Convert to Markdown","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Is error?","type":"main","index":0}]]},"QUERY_PARAMS":{"main":[[{"node":"CONFIG","type":"main","index":0}]]},"Simplify output":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"HTTP_Request_Tool":{"ai_tool":[[{"node":"ReAct AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"ReAct AI Agent","type":"ai_languageModel","index":0}]]},"Remove extra tags":{"main":[[{"node":"Simplify?","type":"main","index":0}]]},"Exctract HTML Body":{"main":[[{"node":"Remove extra tags","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Send Page Content","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"QUERY_PARAMS","type":"main","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"ReAct AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2006"},"pinData":{},"versionId":"d8fa60a2-2e25-49c9-b649-2268150f307b","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T11:36:22.355Z","updatedAt":"2024-08-31T17:28:55.241Z","id":"QuHNU51BiD5NSuwZ","name":"add file to local vector db","active":false,"nodes":[{"parameters":{"options":{}},"id":"de50faea-c058-4749-9b9c-76ef183b1b5f","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[880,400],"webhookId":"68793e08-3f17-4a3d-a576-4fbc9cb5e9fe"},{"parameters":{"agent":"planAndExecuteAgent","options":{}},"id":"5ec4dc29-2cb6-4f47-9945-adb219f74b78","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1100,400]},{"parameters":{"model":"gpt-4o","options":{}},"id":"6af1e480-2a61-4d46-8a91-152a00b19144","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1000,620],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"6eda12e4-e608-48e7-9d91-28339de2a3f2","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[1800,680]}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54d44c9c-ae38-4151-8d5d-eae4352b39d4","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T11:12:11.187Z","updatedAt":"2024-08-31T17:29:16.764Z","id":"TEU1IhLuVA7y7KB8","name":"update_database","active":false,"nodes":[{"parameters":{},"id":"5b3c6990-8d98-4ce5-95f0-58bb06fe8370","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[880,400]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"vector","mode":"list","cachedResultName":"vector"},"options":{}},"id":"da4fb5e6-b6b7-422b-8672-9623c421cb6a","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1100,400],"credentials":{"pineconeApi":{"id":"dA5fCoOGOUlZe2zf","name":"PineconeApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"id":"1cf2f839-71ac-45d8-87f5-131532366ecc","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1100,620],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"options":{}},"id":"f7beabd0-73c5-4b73-b90d-28e2d6c8d147","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1300,620]},{"parameters":{"chunkOverlap":300},"id":"c13d2154-db5e-41ab-9f2d-e37ea880af92","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1300,840]},{"parameters":{"assignments":{"assignments":[{"id":"cdd467a8-321c-490f-8808-e8db0c85c170","name":"response","value":"Database updated","type":"string"}]},"options":{}},"id":"d8c26eb7-6421-40b5-a9b0-fc2b0c501e81","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,400]}],"connections":{"Embeddings Ollama":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c878ece-a8a4-4ef9-b280-d7050e9e40d0","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T10:55:15.110Z","updatedAt":"2024-08-31T17:29:49.432Z","id":"t4mMOkR9CIXEaOzh","name":"drive_search","active":false,"nodes":[{"parameters":{},"id":"9cb8edcb-b495-4604-ac6f-bb205f1c8f58","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[880,400]},{"parameters":{"resource":"fileFolder","limit":"={{ 50 }}","queryString":"={{ $json.message.content.queryString }}","returnAll":"={{ false }}","filter":{"folderId":{"__rl":true,"value":"1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0","mode":"list","cachedResultName":"Growth Resources","cachedResultUrl":"https://drive.google.com/drive/folders/1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0"}},"options":{}},"id":"98ac9949-7336-477d-aaeb-69b8af825eaa","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1480,400],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Parse \"query\" and output the parameters separately.","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"id":"83c251bb-7ec1-44cc-996b-f0afdfc3c3aa","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1100,400],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d6644ab5-6aa4-4849-9b59-d5ee5106f9bc","name":"","value":"=[\n  \"{{ $json.id }}\",\n  \"{{ $json.name }}\"\n]","type":"array"}]},"options":{}},"id":"169a09ca-a90e-40c6-ab36-f5159aa0d2ea","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,420]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"resource":"fileFolder","limit":"={{ 50 }}","queryString":"=","returnAll":"={{ false }}","filter":{"folderId":{"__rl":true,"value":"1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0","mode":"list","cachedResultName":"Growth Resources","cachedResultUrl":"https://drive.google.com/drive/folders/1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0"}}}}}]},"versionId":"03963fe4-35f7-4912-bae8-ae22ab3f9a53","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T09:55:12.115Z","updatedAt":"2024-08-31T17:30:03.541Z","id":"fbWvWq3Fg9j93wfk","name":"create_event","active":false,"nodes":[{"parameters":{},"id":"b2a2a774-3025-479c-b78b-4d7ca23f0590","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,320]},{"parameters":{"calendar":{"__rl":true,"value":"timothyfoo@gmail.com","mode":"list","cachedResultName":"timothyfoo@gmail.com"},"start":"={{ $json.message.content.start }}","end":"={{ $json.message.content.end }}","additionalFields":{"attendees":["={{ $json.message.content.attendees }}"],"description":"={{ $json.message.content.description }}","summary":"={{ $json.message.content.summary }}"}},"id":"25fb240f-75eb-465a-b2aa-83d2eaae5c8a","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[800,320],"credentials":{"googleCalendarOAuth2Api":{"id":"yJKboWrQAKl8Rtyr","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Parse \"query\" and output the parameters separately.\n\nFor the attendees parameter, make it a stringified list that is comma separated. not within angle brackets","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"id":"78eb553d-cb84-4337-a71e-0eb40e4d912c","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[420,320],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5b6c2ae9-5b0f-4942-b5eb-f8004bd0b1fc","name":"","value":"The event was created.","type":"string"}]},"options":{}},"id":"a1e3a754-caad-42d8-9dad-267eef14196e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,340]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"start":"=","end":"=","attendees":"attendee1@example.com,attendee2@example.com","description":"=","summary":"="}}}],"OpenAI":[{"json":{"index":0,"message":{"role":"assistant","content":{"start":"=","end":"=","attendees":"attendee1@example.com,attendee2@example.com","description":"=","summary":"="},"refusal":null},"logprobs":null,"finish_reason":"stop"}}]},"versionId":"05b73586-c790-46d5-9145-99e38043b55d","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T08:59:02.593Z","updatedAt":"2024-08-31T17:30:10.417Z","id":"D8gXmEejh9vv90o1","name":"send_email","active":false,"nodes":[{"parameters":{"sendTo":"={{ $json.message.content.to }}","subject":"={{ $json.message.content.subject }}","message":"={{ $json.message.content.message }}","options":{"appendAttribution":"={{ false }}","bccList":"={{ $json.message.content.bccList }}","ccList":"={{ $json.message.content.ccList }}","senderName":"={{ $json.message.content.senderName }}"}},"id":"6819a655-b550-431c-99fe-52b2e7835d4c","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1640,400],"credentials":{"gmailOAuth2":{"id":"7EBSsVtC3w0uzwH3","name":"Gmail account"}}},{"parameters":{},"id":"77f811a6-bfad-4f67-8950-e75df3be7d4c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1020,400]},{"parameters":{"assignments":{"assignments":[{"id":"264c9460-7010-4638-bda7-ed94b329c911","name":"response","value":"Sent!","type":"string"}]},"options":{}},"id":"542a8989-69c0-4ffa-af8c-1272e4cec1f4","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,400]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"parse the 'query' and output the parameters separately.","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"id":"aec71792-d5ec-430a-84bd-1b9ff8d6e908","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1240,400],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"appendAttribution":"={{ false }}","bccList":"=","ccList":"","senderName":"=","to":"hi@gmail.com","subject":"","message":"","attachments":[],"replyTo":"","priority":"Normal","isHtmlBody":false,"labels":[],"draft":false}}}]},"versionId":"501ed843-d01b-4568-98a3-0c8ee532235a","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:28:16.403Z","updatedAt":"2024-08-31T17:28:16.403Z","id":"Np5bhKx9O7xkKrwE","name":"tool"}]},{"createdAt":"2024-08-30T06:03:29.609Z","updatedAt":"2024-08-31T17:31:06.662Z","id":"MScgSH8z66ZZfFYf","name":"RAG AI Agent with Chat Interface","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"b8b13fc2-88c1-4541-8918-7aa12958ed12","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1040,560],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"99997fc3-bbf7-4273-b829-54e650dd5491","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1180,560]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"24f9851e-cd12-4941-bf95-12479e3acd7f","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2200,1140],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.query.query }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0","mode":"list","cachedResultName":"Growth Resources","cachedResultUrl":"https://drive.google.com/drive/folders/1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0"}},"options":{}},"id":"dd17dd7e-86b5-4185-ac34-6d2463c2c285","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[420,820],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"628f2f90-e8a7-4684-8fc3-d37691544379","name":"Get File Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,820],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{}},"id":"40d5777b-cfce-49d9-84a2-5677f9b4bd8e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1180,1040]},{"parameters":{},"id":"08dc03ad-10a4-4856-8e0c-9ea27defbb35","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1180,1220]},{"parameters":{"operation":"text","options":{}},"id":"70b5408c-a905-41c9-b788-7fc5084c0307","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[860,820]},{"parameters":{"name":"add_file_to_vector_db","description":"Use this to search for a file in Google Drive, download it, and add it to the vector DB knowledgebase for future querying.","workflowId":"ImFXspglJtIqa9JP","responsePropertyName":"metadata","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"Meeting notes from last week\"\n}"},"id":"aaf3d75d-c6de-49a1-9c14-7ed5c3b9657b","name":"Add Google Drive File to Vector DB","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1820,1000]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"65fce25a-cc4a-447c-ba8b-3f5424dcfb95","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2020,1000]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"87373a94-a771-49a6-87ea-aef76b58324b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,820]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":661.3783861449286,"width":1290.2441524753906,"color":5},"id":"14f8d870-6387-4a1c-a595-4fa2a0a75e81","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,720]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"0c1c1d2c-e460-4287-bb5c-d2b54c6ccec1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,240]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"5326c088-6a42-4015-a9b5-259c2c004949","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1980,1240],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"model":"nomic-embed-text:latest"},"id":"b303bf4a-5171-4860-a321-92e253dc6947","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[980,1060],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"memoryKey":"user_documents"},"id":"255ee6a6-4b50-4e49-b384-5e4c1800f919","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1920,1120]},{"parameters":{"mode":"insert","memoryKey":"=user_documents"},"id":"4cd8ac7b-8572-4aa3-9d11-49c106474536","name":"In-Memory Vector Store Inserter","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1100,820]},{"parameters":{"options":{}},"id":"c3ac7e32-2bd7-4af4-a570-aaf2f154ce5a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[820,340],"webhookId":"057f6fe7-e865-42b6-9020-8cc759271eb9"},{"parameters":{"httpMethod":"POST","path":"add_doc_to_vector_db","authentication":"headerAuth","responseMode":"lastNode","options":{}},"id":"4bf40400-365e-4c94-85dc-8cbd9ac3fba8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,820],"webhookId":"8ea31a69-552f-445a-9584-47b869da88fd","credentials":{"httpHeaderAuth":{"id":"XompOZG6Hsf3RKxC","name":"Header Auth account"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0","mode":"list","cachedResultName":"Growth Resources","cachedResultUrl":"https://drive.google.com/drive/folders/1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0"}},"options":{"fields":[]}},"id":"8b303516-83da-410c-9533-3d73e87b5db3","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,220],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"toolDescription":"get list of files/folders from gdrive","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"model","sendHeaders":true,"specifyHeaders":"model","sendBody":true,"specifyBody":"model"},"id":"869c89da-0899-4f13-8591-c859cecd143d","name":"HTTP Request","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1560,380],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"94d27f34-6db3-45d0-afd9-7fb5d754e1a2","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,260],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"f5e2f122-f8a6-48ee-9849-e6fa0ffd956b","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1140,340]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Google Drive":{"main":[[{"node":"Get File Content","type":"main","index":0}]]},"Get File Content":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store Inserter","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"In-Memory Vector Store Inserter","type":"main","index":0}]]},"Add Google Drive File to Vector DB":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"In-Memory Vector Store Inserter","type":"ai_embedding","index":0}]]},"In-Memory Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a566e510-459c-47be-859a-ba54b2dbcc40","triggerCount":0,"tags":[{"createdAt":"2024-08-31T17:30:47.221Z","updatedAt":"2024-08-31T17:30:47.221Z","id":"gitAQrZmFrfHZUiZ","name":"agent"},{"createdAt":"2024-08-31T17:30:59.906Z","updatedAt":"2024-08-31T17:30:59.906Z","id":"1CinoFyQVeZorXd8","name":"rag"}]},{"createdAt":"2024-08-30T06:01:27.815Z","updatedAt":"2024-08-30T06:01:27.815Z","id":"qg3irVapL32gut4s","name":"My workflow","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"5ba24d5b-1c72-4b92-a3ac-7662496063dd","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[740,760]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"8423cae6-24e6-4208-9599-39a25692d68a","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[880,760]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"9db48e70-c759-4e70-b3ae-a48773f97ab4","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1620,1000]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.query.query }}","limit":1,"filter":{},"options":{}},"id":"c48f638f-1cd3-4855-8975-404715e97c43","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[120,1020]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"365c23e9-d586-42f2-b2ed-efcd52cb95a8","name":"Get File Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,1020]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{}},"id":"a71e8a50-ca33-4885-870b-133cffbcc792","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[880,1240]},{"parameters":{},"id":"aa86c612-5132-452e-95f9-2d5734946a7b","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[880,1420]},{"parameters":{"operation":"text","options":{}},"id":"cd278064-a62a-4798-b641-b2e77e55dca2","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[560,1020]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"78908e0a-adaa-4967-b86a-6e2e504ea704","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[720,1240]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"3ed5b2ff-89c1-4534-8e19-fdb2e98126af","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1440,1080]},{"parameters":{"httpMethod":"POST","path":"add_doc_to_vector_db","authentication":"headerAuth","responseMode":"lastNode","options":{}},"id":"afc697e9-68ee-4b6f-b94b-30db10d326cc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,1020],"webhookId":"8ea31a69-552f-445a-9584-47b869da88fd"},{"parameters":{"name":"add_file_to_vector_db","description":"Use this to search for a file in Google Drive, download it, and add it to the vector DB knowledgebase for future querying.","workflowId":"VYQ5kVPM57CJavof","responsePropertyName":"metadata","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"Meeting notes from last week\"\n}"},"id":"e6927bbd-1a47-46a6-a65a-6f2b2b6c20ff","name":"Add Google Drive File to Vector DB","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1240,860]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"2f9b2ad3-7a9a-4d45-9064-9403bacbc806","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1440,860]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"c94d30c0-d525-4c64-b83e-488009a4e553","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1160,680]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":661.3783861449286,"width":1290.2441524753906,"color":5},"id":"cd6bcbca-ea63-4126-8ecd-aa4490a0c10e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,940]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"c688652e-37bd-4ab8-b28b-d1574f101541","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"699b74d6-40c4-4fcb-bbc3-bf53c7e0af86","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[840,540]},{"parameters":{"memoryKey":"user_documents"},"id":"cafc477b-3dfd-4bd2-9dcb-523d3b648bf4","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1340,980]},{"parameters":{"mode":"insert","memoryKey":"=user_documents"},"id":"2dcb95fe-7f8b-43d6-9cd9-4bebbebe4927","name":"In-Memory Vector Store Inserter","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[800,1020]},{"parameters":{"options":{}},"id":"d869ffe3-6178-403d-a005-0ceae180a2a1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[520,540],"webhookId":"057f6fe7-e865-42b6-9020-8cc759271eb9"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Google Drive":{"main":[[{"node":"Get File Content","type":"main","index":0}]]},"Get File Content":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store Inserter","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"In-Memory Vector Store Inserter","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"In-Memory Vector Store Inserter","type":"ai_embedding","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Webhook":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Add Google Drive File to Vector DB":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"In-Memory Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4508aeb4-93a4-4c1d-b0af-cc0d712d3bb6","triggerCount":0,"tags":[]},{"createdAt":"2024-08-27T22:24:38.626Z","updatedAt":"2024-08-30T06:05:21.387Z","id":"sa4yAKntp7JiU3tM","name":"RAG AI Agent","active":false,"nodes":[{"parameters":{},"id":"9d382af7-e16f-4b02-a206-f895156646be","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"method":"POST","url":"https://n8n.yoururl.com/webhook/add_doc_to_vector_db","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.query.query }}"}]},"options":{}},"id":"eeef970f-7759-4ce3-b53b-6c2352fb84bc","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,460]},{"parameters":{"options":{}},"id":"2c2c62c7-f69a-4572-b7db-b86178b35ea3","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[860,580],"webhookId":"8a9f71b0-e3ad-4da4-bb30-60d335df5579"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"619f4236-4037-47ef-b0bf-6ea4a7326660","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1080,700],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"acf334bd-60e2-47d3-ac5f-67c5184519a3","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1280,700]},{"parameters":{},"id":"1bf4d496-5137-4dce-9d59-70e0b2d1f34e","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1440,880]},{"parameters":{"tableName":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"eba2cd04-ffc9-4703-a925-252fcfb714a7","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1620,980],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"id":"a5e57879-d365-44e5-90aa-0972d8a418f1","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1600,1100],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"options":{}},"id":"65f73694-0510-44bf-b69e-9c8bfe18e1a5","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1080,480]},{"parameters":{"name":"Add_Google_Drive_File_To_Vector_DB","workflowId":"ImFXspglJtIqa9JP","responsePropertyName":"metadata","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"meeting notes from last week\"\n}"},"id":"b987b65f-c8ef-4656-8301-87e55f934c48","name":"Call n8n Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1680,580]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be3e6f9c-c5fb-435b-8f11-c805059b6a1b","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T13:32:02.572Z","updatedAt":"2024-08-30T13:32:02.572Z","id":"l3UJIli7dfM8VfDA","name":"Breakdown Documents into Study Notes using Templating MistralAI and Qdrant","active":false,"nodes":[{"parameters":{"triggerOn":"folder","path":"/home/node/storynotes/context","events":["add"],"options":{"followSymlinks":true,"usePolling":true}},"id":"a3af309b-d24c-42fe-8bcd-f330927c7a3c","name":"Local File Trigger","type":"n8n-nodes-base.localFileTrigger","position":[880,420],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"project","value":"={{ $('Settings').item.json.project }}"},{"name":"filename","value":"={{ $('Settings').item.json.filename }}"}]}}},"id":"048f9d67-6519-4dea-97df-aaddfefbfea2","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2040,880],"typeVersion":1},{"parameters":{"chunkSize":2000,"options":{}},"id":"9e9047c9-4428-4afb-8c74-d6eb1075a65a","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2040,1020],"typeVersion":1},{"parameters":{"options":{}},"id":"e42e3f82-6cd9-40c4-9da2-8f87ee5b3956","name":"Embeddings Mistral Cloud","type":"@n8n/n8n-nodes-langchain.embeddingsMistralCloud","position":[1920,880],"typeVersion":1},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"578c63db-4f6e-4341-ab0d-111debd519be","name":"Mistral Cloud Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[3400,1000],"typeVersion":1},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"c34adb3e-1fb9-4248-ae83-2bac34c8b0a4","name":"Mistral Cloud Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[1940,560],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"da64ffde-1e8f-478d-baea-59fc05e6d3ce","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"98e6dcc0-1e3a-4119-b657-0949f34ba525","name":"Prep Incoming Doc","type":"n8n-nodes-base.set","position":[1640,580],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"df327b01-961c-4a49-8455-58c3fbff111a","name":"project","type":"string","value":"={{ $json.path.split('/').slice(0, 4)[3] }}"},{"id":"6b7d26f9-3a38-417e-85d0-4e9d42476465","name":"path","type":"string","value":"={{ $json.path }}"},{"id":"bb4471c7-d894-4739-99a6-4be247794ffa","name":"filename","type":"string","value":"={{ $json.path.split('/').last() }}"}]},"options":{}},"id":"ab88cf9a-d310-4bef-9280-8b23729e7cc9","name":"Settings","type":"n8n-nodes-base.set","position":[1060,420],"typeVersion":3.3},{"parameters":{"mode":"chooseBranch"},"id":"35c6b678-e6e9-4adf-a904-909fa2401d5e","name":"Merge","type":"n8n-nodes-base.merge","position":[2340,580],"typeVersion":2.1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"docs\": [\n    {\n      \"filename\": \"study_guide.md\",\n      \"title\": \"Study Guide\",\n      \"description\": \"A Study Guide is a consolidated resource designed to aid learning. This guide includes three key elements: * A short answer quiz accompanied by an answer key to test comprehension. * A curated list of long-form essay questions to encourage deeper analysis and synthesis of the material. * A glossary of key terms to reinforce understanding of important concepts.\"\n    },\n    {\n      \"filename\": \"timeline.md\",\n      \"title\": \"Timeline\",\n      \"description\": \"A Timeline organizes all significant events described in the sources you have uploaded in chronological order. This ordered list makes it easier to understand the sequence of events and their connection to the broader context of your sources. In addition to the list of events, the Timeline also provides a “cast of characters,” which comprises short biographical sketches of all the important people mentioned in your uploaded sources. These short biographies can help you quickly grasp the roles of various individuals involved in the events described by the Timeline.\"\n    },\n    {\n      \"filename\": \"briefing_doc.md\",\n      \"title\": \"Briefing Doc\",\n      \"description\": \"A Briefing Doc identifies and presents the most important facts and insights from the sources in an easy-to-understand outline format. This format is designed to provide a concise overview of the key takeaways from the uploaded materials.\"\n    }\n  ]\n}\n","options":{}},"id":"0fa13be8-8500-486c-a1c6-cc1df00a4947","name":"Get Doc Types","type":"n8n-nodes-base.set","position":[2740,580],"executeOnce":true,"typeVersion":3.3},{"parameters":{"fieldToSplitOut":"docs","options":{}},"id":"e3469368-f214-4549-844e-7febfbbf0202","name":"Split Out Doc Types","type":"n8n-nodes-base.splitOut","position":[2900,580],"typeVersion":1},{"parameters":{"options":{}},"id":"df401e9e-2f70-4079-969b-6b61142fca37","name":"For Each Doc Type...","type":"n8n-nodes-base.splitInBatches","position":[3080,580],"typeVersion":3},{"parameters":{"options":{}},"id":"c334b546-8e11-424d-bdd5-006e7086f24b","name":"Item List Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserItemList","position":[3580,1000],"typeVersion":1},{"parameters":{},"id":"4267c2b5-f1cd-4df7-84ee-be01a643a1c1","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[3940,1000],"typeVersion":1},{"parameters":{"options":{}},"id":"abf833ec-8a6d-4e13-a526-0ea6b80d578f","name":"Embeddings Mistral Cloud1","type":"@n8n/n8n-nodes-langchain.embeddingsMistralCloud","position":[3940,1220],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"list","value":"storynotes","cachedResultName":"storynotes"},"options":{}},"id":"a0e50185-6662-4b11-9922-59e8b06e4967","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[3940,1100],"typeVersion":1},{"parameters":{"options":{}},"id":"20c5766a-d3ce-4c01-a76b-facf1a00abc2","name":"Mistral Cloud Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[3840,1000],"typeVersion":1},{"parameters":{"fieldToSplitOut":"response","options":{}},"id":"f049b7af-07f3-47e5-9476-68d73a387978","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[3700,840],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"response.text"}]},"options":{}},"id":"39042ae0-e17f-46cd-84be-728868950d84","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[4140,840],"typeVersion":1},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"e3b900c8-515d-4ac7-88fa-c364134ba9f9","name":"Mistral Cloud Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[4280,1000],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.response }}"},"id":"efb26a5d-6a61-44b2-ad99-6d1f8b48998d","name":"Discover","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[3840,840],"typeVersion":1.3},{"parameters":{},"id":"302b7523-898e-47af-8941-aa5f8a58fd9c","name":"2secs","type":"n8n-nodes-base.wait","position":[4620,1220],"webhookId":"ec58ab18-03c5-4b58-bc2e-24415a236c72","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"b38546b2-47c4-4967-a2d7-98aebd589e95","name":"data","type":"string","value":"={{ $json.text }}"},{"id":"a263519a-aa05-410a-b4f0-f5e22cc5058c","name":"path","type":"string","value":"={{ $('Prep For AI').item.json.path }}"},{"id":"ec1687d6-0ea9-460f-b9d4-ae4a7e229e12","name":"filename","type":"string","value":"={{ $('Prep For AI').item.json.name }}"}]},"options":{}},"id":"007857b0-c12c-4c57-b07f-db30526cd747","name":"Get Generated Documents","type":"n8n-nodes-base.set","position":[3420,400],"typeVersion":3.3},{"parameters":{"promptType":"define","text":"=## Document\n{{ $json.text.join('\\n') }}","messages":{"messageValues":[{"message":"=Your job is to create a {{ $('For Each Doc Type...').item.json.title }} for the given document. {{ $('For Each Doc Type...').item.json.description }}\n\nGenerate a  {{ $('For Each Doc Type...').item.json.title }} for the given document. If questions are generated, generate the answers alongside them. Format your response in markdown; use \"#\" to format headings, use \"*\" to format lists."}]}},"id":"36fac35f-df10-41ab-96a7-3a5e67f9d8df","name":"Generate","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[4280,840],"typeVersion":1.4},{"parameters":{"assignments":{"assignments":[{"id":"5c864125-c884-4d33-b0ed-e3eecd354196","name":"id","type":"string","value":"={{ $('Settings').first().json.filename.hash() }}"},{"id":"93ac14c1-ae97-4ef2-a66f-6c1110f3b0fc","name":"project","type":"string","value":"={{ $('Settings').first().json.project }}"},{"id":"fafd16b9-0002-4f7c-89d0-29788f8ec472","name":"path","type":"string","value":"={{ $('Settings').first().json.path }}"},{"id":"5a5860ba-918b-4fb8-b18c-96c1cd22091a","name":"name","type":"string","value":"={{ $('Settings').first().json.filename }}"},{"id":"1a1caf65-85d8-4f74-a3be-503ccfc0b2c9","name":"summary","type":"string","value":"={{ $('Summarization Chain').first().json.response.text }}"}]},"options":{}},"id":"b9a79cb0-bcc1-4d73-af93-5f8d7e2258a9","name":"Prep For AI","type":"n8n-nodes-base.set","position":[2500,580],"typeVersion":3.3},{"parameters":{"operation":"toText","sourceProperty":"={{ $json.data }}","options":{}},"id":"e40c7e99-9813-4f06-92bb-dfb2839f1037","name":"To Binary","type":"n8n-nodes-base.convertToFile","position":[3600,400],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"={{\n  $('Get Generated Documents').item.json.path.replace(\n    $('Get Generated Documents').item.json.path.split('/').last(),\n    $('Get Generated Documents').item.json.filename.substring(0,21) + '...' + $('Split Out Doc Types').item.json.title + '.md'\n  )\n}}","options":{}},"id":"b55df916-7a51-4114-91b8-18a3c6ba2c56","name":"Export to Folder","type":"n8n-nodes-base.readWriteFile","position":[3760,400],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileType }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3a5f509d-46fe-490c-95f0-35124873c63e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileType }}","rightValue":"docx"}]},"renameOutput":true,"outputKey":"docx"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"75188d2f-4bea-44ea-a579-9b9a1bd1ea93","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json }}","rightValue":""}]},"renameOutput":true,"outputKey":"everything else"}]},"options":{}},"id":"8490664e-0ca5-4839-ad03-d3f9706c99a3","name":"Get FileType","type":"n8n-nodes-base.switch","position":[1220,580],"typeVersion":3},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"id":"386f7aac-f3b9-4565-907f-687d48b00c52","name":"Import File","type":"n8n-nodes-base.readWriteFile","position":[1060,580],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"6ade93d5-61c3-450a-b78c-e210c18c0e70","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1420,420],"typeVersion":1},{"parameters":{"operation":"ods","options":{}},"id":"f413e139-3f9c-438f-8e82-824c38f09c6b","name":"Extract from DOCX","type":"n8n-nodes-base.extractFromFile","position":[1420,580],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"455fadea-f5c7-4bea-983f-b06da4e57510","name":"Extract from TEXT","type":"n8n-nodes-base.extractFromFile","position":[1420,740],"typeVersion":1},{"parameters":{"chunkSize":4000,"options":{}},"id":"b2586011-4985-4075-b51c-90301b1a8cf9","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1940,420],"typeVersion":2},{"parameters":{"content":"## Step 1. Watch Folder and Import New Documents\n[Read more about Local File Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.localfiletrigger)\n\nWith n8n's local file trigger, we're able to trigger the workflow when files are created in our target folder. We still have to import them however as the trigger will only give the file's path. The \"Extract From\" node is used to get at the file's contents.","height":694.0931000693263,"width":995.1475972814769,"color":7},"id":"1502e72c-e97e-4148-8138-01818ab5b104","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[800,245.80882007954312],"typeVersion":1},{"parameters":{"content":"## Step 2. Summarise and Vectorise Document Contents\n[Learn more about using the Qdrant VectorStore](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant)\n\nCapturing the document into our vector store is intended for a technique we'll use later known as Retrieval Augumented Generation or \"RAG\" for short. For our scenario, this allows our LLM to retrieve context more efficiently which produces better respsonses.","height":949.8141899605673,"width":824.3300768713589,"color":7},"id":"7b3afc2c-3fb8-4589-9475-78f5617009cc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1820,242.96464765818223],"typeVersion":1},{"parameters":{"content":"## Step 3. Loop through Templates\n\nWe'll ask the LLM to help us generate 3 types of notes from the imported source document. These notes are intended to breakdown the content for faster study. Our templates for this demo are:\n(1) **Study guide**\n(2) **Briefing document**\n(3) **Timeline**","height":485.0226378812345,"width":591.09953935829,"color":7},"id":"74aabb02-ca5d-41ad-b84f-92d66428b774","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2680,316.7963650826494],"typeVersion":1},{"parameters":{"content":"## Step 4. Use AI Agents to Query and Generate Template Documents\n[Read more about using the Question & Answer Retrieval Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainretrievalqa)\n\nn8n allows us to easily use a chain of LLMs as agents which can work together to handle any task!\nHere the agents generate questions to explore the content of the source document and use the answers to generate the template. ","height":806.6560661824452,"width":1500.7886103732135,"color":7},"id":"b96f899d-4a44-491c-b164-a42feba129eb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3300,640],"typeVersion":1},{"parameters":{"content":"## Step 5. Export Generated Templates To Folder\n[Learn more about writing to the local filesystem](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filesreadwrite)\n\nFinally, the AI generated documents can now be exported to disk. This workflow makes it easy to generate any kind of document from various source material and can be used for training and sales.","height":384.22073222791266,"width":771.8710855215123,"color":7},"id":"77fda269-6877-422f-b6e6-4346bde862db","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3300,227.64523011966037],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"list","value":"storynotes","cachedResultName":"storynotes"},"options":{}},"id":"08839972-f0f4-4144-bf27-810664cbf828","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1940,720],"typeVersion":1},{"parameters":{"content":"## Try It Out! \n\n### This workflow automates generating notes from a source document.\n* It watches a target folder to pick up new files.\n* When a new file is detected, it saves the contents of the file in a vectorstore.\n* multiple AI agents guided by a templates list, generate the predetermined notes.\n* These notes are then export alongside the original source file for the user.\n\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":401.0080676370763,"width":390.63004227317265},"id":"7e216411-83ee-4b82-9e00-285d4f2d3224","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"promptType":"define","text":"=## document summary\n {{ $('Prep For AI').item.json.summary }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Given the following document summary, what questions would you ask to create a {{ $('For Each Doc Type...').item.json.title }} for the document? Generate 5 questions."}]}},"id":"f2c363d3-a2bf-4468-ad54-f26649ce6ab8","name":"Interview","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[3400,840],"typeVersion":1.4},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 💡Add your own templates here!\n","height":295.46359440513226,"width":172.26820279743384},"id":"ce3da55d-8c22-40bb-8781-63c2e6bcb824","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2700,540],"typeVersion":1}],"connections":{"2secs":{"main":[[{"node":"For Each Doc Type...","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Prep For AI","type":"main","index":0}]]},"Discover":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Generate":{"main":[[{"node":"2secs","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Import File","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Generate","type":"main","index":0}]]},"Interview":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Discover","type":"main","index":0}]]},"To Binary":{"main":[[{"node":"Export to Folder","type":"main","index":0}]]},"Import File":{"main":[[{"node":"Get FileType","type":"main","index":0}]]},"Prep For AI":{"main":[[{"node":"Get Doc Types","type":"main","index":0}]]},"Get FileType":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from DOCX","type":"main","index":0}],[{"node":"Extract from TEXT","type":"main","index":0}]]},"Get Doc Types":{"main":[[{"node":"Split Out Doc Types","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Extract from DOCX":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Extract from TEXT":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Prep Incoming Doc":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Summarization Chain","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split Out Doc Types":{"main":[[{"node":"For Each Doc Type...","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":0}]]},"For Each Doc Type...":{"main":[[{"node":"Get Generated Documents","type":"main","index":0}],[{"node":"Interview","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Discover","type":"ai_retriever","index":0}]]},"Get Generated Documents":{"main":[[{"node":"To Binary","type":"main","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Interview","type":"ai_outputParser","index":0}]]},"Embeddings Mistral Cloud":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Interview","type":"ai_languageModel","index":0}]]},"Embeddings Mistral Cloud1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Mistral Cloud Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Mistral Cloud Chat Model2":{"ai_languageModel":[[{"node":"Discover","type":"ai_languageModel","index":0}]]},"Mistral Cloud Chat Model3":{"ai_languageModel":[[{"node":"Generate","type":"ai_languageModel","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2339"},"pinData":{},"versionId":"45c3eda6-1e0b-4b53-9738-c3467323c3d3","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T11:14:28.450Z","updatedAt":"2024-09-05T07:30:12.193Z","id":"cdLn0CcfaHJCyeVa","name":"PERSONAL ASSISTANT","active":false,"nodes":[{"parameters":{"options":{}},"id":"cbc0eab0-8565-4ed7-bb1e-e1c8d5eb7d09","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[760,1000],"webhookId":"28d22c5d-1b62-4279-b04a-9509c4844da0"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"cbe3179b-95ab-4351-9cd8-66c9fede9326","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[960,560],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"81c6e9e4-349f-4339-be1b-cf287af3895d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1060,560]},{"parameters":{"name":"send_email","description":"call this tool to send an email","workflowId":"D8gXmEejh9vv90o1","specifyInputSchema":true,"schemaType":"manual","inputSchema":"[\n  {\n    \"query\": {\n      \"appendAttribution\": \"={{ false }}\",\n      \"bccList\": \"=\",\n      \"ccList\": \"\",\n      \"senderName\": \"=\",\n      \"to\": \"hi@gmail.com\",\n      \"subject\": \"\",\n      \"message\": \"\",\n      \"attachments\": [],\n      \"replyTo\": \"\",\n      \"priority\": \"Normal\",\n      \"isHtmlBody\": false,\n      \"labels\": [],\n      \"draft\": false\n    }\n  }\n]"},"id":"17743360-6ae0-417e-a690-969d276389aa","name":"send_email","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1260,580]},{"parameters":{"name":"create_event","description":"call this tool to create an event","workflowId":"fbWvWq3Fg9j93wfk","specifyInputSchema":true,"jsonSchemaExample":"[\n  {\n    \"query\": {\n      \"start\": \"=\",\n      \"end\": \"=\",\n      \"attendees\": \"attendee1@example.com,attendee2@example.com\",\n      \"description\": \"=\",\n      \"summary\": \"=\"\n    }\n  }\n]"},"id":"4b19bad5-c25b-4928-98c2-9815f1938bbd","name":"create_event","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1360,600]},{"parameters":{"name":"drive_search","description":"call this tool to search google drive.","workflowId":"t4mMOkR9CIXEaOzh","specifyInputSchema":true,"jsonSchemaExample":"[\n  {\n    \"query\": {\n      \"resource\": \"fileFolder\",\n      \"limit\": \"={{ 50 }}\",\n      \"queryString\": \"=\",\n      \"returnAll\": \"={{ false }}\",\n      \"filter\": {\n        \"folderId\": {\n          \"__rl\": true,\n          \"value\": \"1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0\",\n          \"mode\": \"list\",\n          \"cachedResultName\": \"Growth Resources\",\n          \"cachedResultUrl\": \"https://drive.google.com/drive/folders/1CINa9gwIxiQ4FrHmBVsFhrt9AKPWl_H0\"\n        }\n      }\n    }\n  }\n]"},"id":"865e2e19-4cc8-416a-918c-e3a2d5c2ebda","name":"drive_search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1160,560]},{"parameters":{"name":"update_database","description":"call this tool to update pinecone database","workflowId":"TEU1IhLuVA7y7KB8","specifyInputSchema":true},"id":"20dc0b6b-ba74-4842-8e7b-d545be30ab0a","name":"update_database","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1480,620]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are an AI assistant equipped with several powerful tools to assist users efficiently. Your capabilities include:\n\n\nChat model: Answer user queries and engage in conversations.\n\nWindow Buffer Memory: Maintain context throughout the conversation.\n\ndrive_search: Search for documents and files in a connected drive or storage system.\n\nsend_email: Send emails on behalf of users.\n\ncreate_event: Schedule and create calendar events.\n\nupdate_database: Update entries in a specified database.\n\nWhen a user sends a chat message, intelligently utilize these tools to provide relevant and effective assistance. For example:\n\n\nUse drive_search to locate and retrieve documents or files for the user.\n\nUtilize send_email to draft and send emails as per the user's requests.\n\nLeverage create_event to set reminders, schedule meetings, or add events to the user's calendar.\n\nApply update_database to make changes or update records in the designated database.\n\nEnsure all interactions are seamless, contextually aware, and provide the best possible assistance to the user.","returnIntermediateSteps":true}},"id":"f1469038-ef4e-4e06-b29c-dc55f9b1387c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1100,400]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"f5072bff-83ed-4954-b9e0-127e145ab512","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2620,1700]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"48431d12-34bf-4139-b2ba-a1ca67f31678","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2460,1700],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"2bd14b50-fe13-4417-85ee-5efa1a4ef34c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,860]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":922.5942872791303,"width":2809.53742942073,"color":5},"id":"663c44f0-687f-43e1-be19-095cc2e2aeea","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,1400]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"88a55012-d69b-4f65-bec7-a90c027daacc","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1620,1580],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"19CxUSaNsOwZe1LzTXvJmwptQu2rckMg-","mode":"list","cachedResultName":"N8N_DOCUMENTS","cachedResultUrl":"https://drive.google.com/drive/folders/19CxUSaNsOwZe1LzTXvJmwptQu2rckMg-"},"event":"fileCreated","options":{}},"id":"a5b99b0f-fdd9-436c-8f03-29b26b720ea8","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[580,1480],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"19CxUSaNsOwZe1LzTXvJmwptQu2rckMg-","mode":"list","cachedResultName":"N8N_DOCUMENTS","cachedResultUrl":"https://drive.google.com/drive/folders/19CxUSaNsOwZe1LzTXvJmwptQu2rckMg-"},"event":"fileUpdated","options":{}},"id":"cb961a39-c58c-44ff-bbe7-5512c9fcbac3","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[580,1700],"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6718fca5-2126-4e32-bb3e-97d4c2a9f0b6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1960,1260],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"7cb55f63-f046-43b3-9a44-6b7ea42bf756","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[1460,1220],"notesInFlow":false,"credentials":{"postgres":{"id":"U5zrwGTknVhKxcrD","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"0aa229d7-eeaf-431c-8274-aa94ddbcf46c","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2620,1900]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"0a23f8a8-a794-4d5d-b164-80731d0f0bcd","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,1580],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"2bb79d3b-14b4-45bc-bd71-89c057e7a73c","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,1580]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"808540d2-70ee-4e51-9e51-c5b30a3a8ef8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,920]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"7b889e77-35bf-4525-bbe3-42777e83cb0a","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1420,1000]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"07c88cdf-7401-4286-8231-1cbe409ffbd6","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1320,1220],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"af2a4da8-a88a-42eb-8f0c-87b570c177a5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"f353a840-dc6e-4295-adf5-126e4e648fe7","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1920,1680]},{"parameters":{"operation":"pdf","options":{}},"id":"3b797c77-6d24-40eb-bdca-43f6eba365d0","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1840,1920]},{"parameters":{"assignments":{"assignments":[{"id":"f0344c61-c44a-406f-b0ce-24f9f55ea842","name":"data","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"41c778ec-acc8-490a-a789-68180388ed51","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,1920]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"512de38a-dc78-4a20-ab0c-e9b01970bf9d","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1800,1140],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"de20b8ea-569d-4a9e-9be7-07a07bdaa01a","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1920,980]},{"parameters":{"options":{}},"id":"3f0070f8-001e-4d70-834c-4299f1971ac9","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2020,1200],"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"operation":"text","options":{}},"id":"95fa51e3-1f40-4f27-b52b-5802112cc037","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2300,1480]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"23133f30-5737-4321-85af-b06f0a80bca0","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2500,1480],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"fileSelector":"\"C:\\Users\\User\\OneDrive\\PDF Repository\\Theory and Principles of Posturology.pdf\"","options":{}},"id":"a35147f7-05bb-4080-8f90-446678a49981","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1020,2040]},{"parameters":{},"id":"71de87d4-0cb4-446c-91e0-e980c3bda3c4","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[700,2060]}],"connections":{"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"send_email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"drive_search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"update_database":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"If","type":"main","index":0},{"node":"Extract from File1","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Extract from File1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"If":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09876879-84a2-47ce-8c56-3c3fec6e5fd6","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T11:43:38.335Z","updatedAt":"2024-08-30T11:43:38.335Z","id":"rrLuqBf2IX14roGP","name":"Chat with local LLMs using n8n and Ollama","active":false,"nodes":[{"parameters":{"options":{}},"id":"475385fa-28f3-45c4-bd1a-10dde79f74f2","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[920,620],"webhookId":"ebdeba3f-6b4f-49f3-ba0a-8253dd226161","typeVersion":1.1},{"parameters":{"options":{}},"id":"61133dc6-dcd9-44ff-85f2-5d8cc2ce813e","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","position":[1120,840],"typeVersion":1},{"parameters":{"content":"## Chat with local LLMs using n8n and Ollama\nThis n8n workflow allows you to seamlessly interact with your self-hosted Large Language Models (LLMs) through a user-friendly chat interface. By connecting to Ollama, a powerful tool for managing local LLMs, you can send prompts and receive AI-generated responses directly within n8n.\n\n### How it works\n1. When chat message received: Captures the user's input from the chat interface.\n2. Chat LLM Chain: Sends the input to the Ollama server and receives the AI-generated response.\n3. Delivers the LLM's response back to the chat interface.\n\n### Set up steps\n* Make sure Ollama is installed and running on your machine before executing this workflow.\n* Edit the Ollama address if different from the default.\n","height":473,"width":485},"id":"3e89571f-7c87-44c6-8cfd-4903d5e1cdc5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"## Ollama setup\n* Connect to your local Ollama, usually on http://localhost:11434\n* If running in Docker, make sure that the n8n container has access to the host's network in order to connect to Ollama. You can do this by passing `--net=host` option when starting the n8n Docker container","height":258,"width":368,"color":6},"id":"9345cadf-a72e-4d3d-b9f0-d670744065fe","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1260,820],"typeVersion":1},{"parameters":{},"id":"eeffdd4e-6795-4ebc-84f7-87b5ac4167d9","name":"Chat LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1140,620],"typeVersion":1.4}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"Chat LLM Chain","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Chat LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2384"},"pinData":{},"versionId":"5f902757-4bac-4c1d-b9da-20ef1f033050","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T11:42:02.967Z","updatedAt":"2024-08-30T11:42:02.967Z","id":"zhLfGMLUiZlvG8Zy","name":"Pulling data from services that n8n doesn’t have a pre-built integration for","active":false,"nodes":[{"parameters":{},"id":"25ac6cda-31fb-474a-b6b6-083ec03b9273","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[925,285],"typeVersion":1},{"parameters":{"content":"## HTTP Request\n### This workflow shows the most common use cases of the HTTP request node, and how to handle its output\n\n\n### Click the `Execute Workflow` button and double click on the nodes to see the input and output items.","height":200,"width":440},"id":"93eaee43-7a39-4c83-aeaa-9ca14d0f4b4b","name":"Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"## 3. Handle Pagination\n### Sometimes you need to make the same request multiple times to get all the data you need (pagination).\n\n### The pagination process goes as follow:\n### 1. Loop through the pages of the input source (`HTTP Request` node named \"Get my Starts\")\n### 2. Increment the page at the end of each loop (done with the `set` node named \"Increment Page\") \n### 3. Stop looping when there are no pages left (checked at the `If` node named \"Are we Finished?\")\n\n\n\n","height":460.847917534361,"width":986.3743856726365},"id":"3ccdc45b-aae1-4760-b45e-5b8dca2a9fcf","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1280,480],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"page"},{"name":"perpage","value":15}],"string":[{"name":"githubUser","value":"that-one-tom"}]},"options":{}},"id":"af19bb6d-5f0a-41ca-93b2-dbd27c3fd07e","name":"Set","type":"n8n-nodes-base.set","position":[1345,725],"typeVersion":1},{"parameters":{"content":"## 2. Data Scraping\n### In this example we fetch the titles from the n8n blog using the `HTTP request` node and then we use the `HTML extract` node to pass.","height":280,"width":680},"id":"dad6055d-e06b-4f8c-ab90-deb196fce277","name":"Note6","type":"n8n-nodes-base.stickyNote","position":[1280,180],"typeVersion":1,"disabled":true},{"parameters":{"content":"## 1. Split into items\n### In this example, we take the body from an `HTTP Request` node and split it out into items that are easier to manage.","height":280,"width":500},"id":"a7d4b9db-4d38-4b8d-9585-fe65c379e381","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[1280,-120],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"d8402820-fa72-4957-8cf6-432f928ae799","name":"Item Lists - Create Items from Body","type":"n8n-nodes-base.itemLists","position":[1525,-15],"notesInFlow":false,"typeVersion":1,"notes":"Create Items from Body"},{"parameters":{"sourceData":"binary","extractionValues":{"values":[{"key":"ArticleTitle","cssSelector":"#firstHeading"}]},"options":{}},"id":"598939cd-e4c0-4a90-bd1f-f2b13ccbe072","name":"HTML Extract - Extract Article Title","type":"n8n-nodes-base.htmlExtract","position":[1505,285],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"1c9b609c-5e41-4444-ade7-e1069943c904","name":"Item Lists - Fetch Body","type":"n8n-nodes-base.itemLists","position":[1705,725],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"HTTP Request - Get my Stars\"].json[\"body\"]}}","operation":"isEmpty"}]}},"id":"15dfab42-440c-4d06-9ba2-b7b17371d009","name":"If - Are we finished?","type":"n8n-nodes-base.if","position":[1885,725],"executeOnce":true,"typeVersion":1},{"parameters":{"values":{"string":[{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]++}}"}]},"options":{}},"id":"ba6e6904-6749-4ea2-84c1-8409b795bcf5","name":"Set - Increment Page","type":"n8n-nodes-base.set","position":[2105,745],"executeOnce":true,"typeVersion":1},{"parameters":{"url":"https://jsonplaceholder.typicode.com/albums","options":{"response":{"response":{"fullResponse":true}}}},"id":"9f0df828-27d7-4994-8934-c8fe88af8566","name":"HTTP Request - Get Mock Albums","type":"n8n-nodes-base.httpRequest","position":[1345,-15],"typeVersion":3},{"parameters":{"url":"https://en.wikipedia.org/wiki/Special:Random","options":{"redirect":{"redirect":{"followRedirects":true}},"response":{"response":{"responseFormat":"file"}}}},"id":"cbc64010-f6f4-4c35-b4e2-9e1d4a748308","name":"HTTP Request - Get Wikipedia Page","type":"n8n-nodes-base.httpRequest","position":[1325,285],"typeVersion":3},{"parameters":{"url":"=https://api.github.com/users/{{$node[\"Set\"].json[\"githubUser\"]}}/starred","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"={{$node[\"Set\"].json[\"perpage\"]}}"},{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]}}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a1a19268-0be8-4379-99a4-4285c68691b5","name":"HTTP Request - Get my Stars","type":"n8n-nodes-base.httpRequest","position":[1525,725],"typeVersion":3}],"connections":{"Set":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"Set - Increment Page":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"If - Are we finished?":{"main":[[],[{"node":"Set - Increment Page","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Set","type":"main","index":0},{"node":"HTTP Request - Get Mock Albums","type":"main","index":0},{"node":"HTTP Request - Get Wikipedia Page","type":"main","index":0}]]},"Item Lists - Fetch Body":{"main":[[{"node":"If - Are we finished?","type":"main","index":0}]]},"HTTP Request - Get my Stars":{"main":[[{"node":"Item Lists - Fetch Body","type":"main","index":0}]]},"HTTP Request - Get Mock Albums":{"main":[[{"node":"Item Lists - Create Items from Body","type":"main","index":0}]]},"HTTP Request - Get Wikipedia Page":{"main":[[{"node":"HTML Extract - Extract Article Title","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1748"},"pinData":{},"versionId":"588bb1fe-68ad-454d-a1b8-6ad217514963","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T11:44:54.193Z","updatedAt":"2024-08-30T11:44:54.193Z","id":"bmsuAkPk7c6fUpJb","name":"Advanced AI Demo (Presented at AI Developers #14 meetup)","active":false,"nodes":[{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"list","value":"C079GL6K3U6","cachedResultName":"general"},"text":"=Data from webhook:  {{ $json.query.email }}","otherOptions":{}},"id":"fb774d11-da48-4481-ad4e-8c93274f123e","name":"Send message","type":"n8n-nodes-base.slack","position":[2340,580],"typeVersion":2.2},{"parameters":{"content":"![h](https://i.postimg.cc/9XLvL5dL/slide-sf-talk.png#full-width)","height":677.0358687053997,"width":1163.3132111854613,"color":7},"id":"5a3ad8f1-eba7-4076-80fc-0c1237aab50b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"# What is n8n?\n### Low-code Automation Platform for technical teams","height":99,"width":437,"color":7},"id":"01c59396-0fef-4d1c-aa1f-787669300650","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1860,240],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"0bdd4a35-7f5c-443c-a14a-4e6f7ed18712","name":"Execute JavaScript","type":"n8n-nodes-base.code","position":[2340,380],"typeVersion":2},{"parameters":{"content":"# Example #2\n### RAG with PDF as source","height":106,"width":318,"color":6},"id":"4b1b6cc1-1a9f-4a0c-96d5-fd179c84c79d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[4440,240],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"7e9e7802-5695-4240-83b9-d6f02192ad2b","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[5120,1000],"typeVersion":1},{"parameters":{"options":{}},"id":"63783c21-af6d-4e70-8dec-c861641c53fb","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[4880,820],"typeVersion":1},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{"metadata":{"metadataValues":[{"name":"document-title","value":"={{ $('PDFs to download').item.json.whitepaper_title }}"},{"name":"document-publish-year","value":"={{ $('PDFs to download').item.json.publish_year }}"},{"name":"document-author","value":"={{ $('PDFs to download').item.json.author }}"}]}}},"id":"5742ce9c-2f73-4129-85eb-876f562cf6b1","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[5100,820],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{"temperature":0.3}},"id":"686c63fa-4672-4107-bd58-ffbb0650b44b","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[5840,840],"typeVersion":1},{"parameters":{"options":{}},"id":"73a7df02-aa2c-4f0f-aa88-38cbbbf3b1cb","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[5980,1140],"typeVersion":1},{"parameters":{},"id":"42737305-fd39-4ec7-b4ba-53f70085dd5f","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[6040,840],"typeVersion":1},{"parameters":{"url":"={{ $json.file_url }}","options":{}},"id":"2c7a3666-e123-439d-8b74-41eb375f066c","name":"Download PDF","type":"n8n-nodes-base.httpRequest","position":[4700,600],"typeVersion":4.2},{"parameters":{},"id":"866eaeb9-6a7c-4209-b485-8ef13ed006b4","name":"PDFs to download","type":"n8n-nodes-base.noOp","position":[4440,600],"notesInFlow":true,"typeVersion":1,"notes":"BTC Whitepaper + metadata"},{"parameters":{"content":"## A. Load PDF into Pinecone\nDownload the PDF, then text embeddings into Pincecone","height":91.0723900084547,"width":414.36616595939887,"color":4},"id":"e78f2191-096c-4575-9d48-fb891fd18698","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4440,440],"typeVersion":1},{"parameters":{"content":"## B. Chat with PDF\nUse GPT4o to chat with Pinecone index","height":86.95121951219511,"width":284.62109466374466,"color":4},"id":"7c3ccf27-32b1-4ea7-b2ef-6997793de733","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[5600,460],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"whitepapers","cachedResultName":"whitepapers"},"options":{"pineconeNamespace":"whitepaper"}},"id":"6063d009-da6e-4cbf-899f-c86b879931a7","name":"Read Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[5980,980],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}. \nOnly use vector store knowledge to answer the question. Don't make anything up. If you don't know the answer, tell the user that you don't know."},"id":"8aa52156-264d-4911-993c-ac5117a76b21","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[5840,620],"typeVersion":1.3},{"parameters":{"content":"# Example #3\n### AI Assistant that knows how to use predefined API endpoints ","height":106,"width":504.25,"color":6},"id":"b394ee1d-a2ca-4db0-8caa-981f8f066787","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[7380,240],"typeVersion":1},{"parameters":{"content":"# Example #1\n### Categorize incoming emails with AI","height":111,"width":318,"color":6},"id":"37a8b8f2-c444-4c6e-9b02-b97a5c616e84","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[3020,220],"typeVersion":1},{"parameters":{"options":{"temperature":0.4}},"id":"07123e8e-8760-4c89-acda-aaef6de68be2","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[7580,700],"typeVersion":1.2},{"parameters":{"toolDescription":"Call this tool to get the appointment availability for a particular period on the calendar. The tool may refer to availability as \"Free\" or \"Busy\". \n\nUse {timeMin} and {timeMax} to specify the window for the availability query. For example, to get availability for 25 July, 2024 the {timeMin} would be 2024-07-25T09:00:00+02:00 and {timeMax} would be 2024-07-25T17:00:00+02:00.\n\nIf the tool returns an empty response, it means that something went wrong. It does not mean that there is no availability.","method":"POST","url":"https://www.googleapis.com/calendar/v3/freeBusy","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"timeMin\": \"{timeMin}\",\n  \"timeMax\": \"{timeMax}\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"groupExpansionMax\": 20,\n  \"calendarExpansionMax\": 10,\n  \"items\": [\n    {\n      \"id\": \"max@n8n.io\"\n    }\n  ]\n}"},"id":"e338a175-e823-4cd4-b77d-f5acbfcbdb9d","name":"Get calendar availability","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[7900,700],"typeVersion":1},{"parameters":{"options":{"systemMessage":"=You are an efficient and courteous assistant tasked with scheduling appointments with Max Tkacz.\n\nWhen users mention an appointment or meeting, they are referring to a meeting with Max.\nWhen users refer to the calendar or \"your schedule,\" they are referring to Max's calendar. \n\nYou can use various tools to access and manage Max's calendar. Your primary goal is to assist users in successfully booking an appointment with Max, ensuring no scheduling conflicts. Only book an appointment if the requested time slot is available (the tool may refer to this as \"Free\")\n\nToday's date is {{ $today.format('dd LLL yyyy') }}.\nAppointments are always 30 minutes in length. \n\n\nProvide accurate information at all times. If the tools are not functioning correctly, inform the user that you are unable to assist them at the moment.\n"}},"id":"ae05933c-dfa9-4272-b610-8b5fc94d76fe","name":"Appointment booking agent","type":"@n8n/n8n-nodes-langchain.agent","position":[7680,480],"typeVersion":1.6},{"parameters":{"content":"![h](https://i.imghippo.com/files/d9Bgv1721858679.png#full-width)\n[Open Calendar](https://calendar.google.com/calendar/u/0/r/day/2024/7/26)","height":571.8601927804875,"width":327.46658341463433,"color":7},"id":"7e3b1797-150e-4c7c-93a5-306b981e0b6c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[8300,440],"typeVersion":1},{"parameters":{"contextWindowLength":10},"id":"afe8d14d-d0d0-4a11-bb4f-57358de66bc1","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[7720,700],"typeVersion":1.2},{"parameters":{"content":"![h](https://i.postimg.cc/kXW9XrZt/Screenshot-2024-07-24-at-15-18-27.png#full-width)\nBTC Whitepaper references","height":403.1877919219511,"width":615.2162978341456,"color":7},"id":"53d131ea-3235-4e4e-828b-dc22c9021e50","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6380,640],"typeVersion":1},{"parameters":{"content":"### Connect with me or explore this demo 👇\n![QR](https://i.postimg.cc/VNkdCLQh/frame.png#full-width)","height":398.9629539487597,"width":345.33741540309194,"color":7},"id":"55a0f180-bb35-4b35-b72c-b9361698e5ad","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9660,240],"typeVersion":1},{"parameters":{"content":"# Thank you and happy flowgramming 🤘\n\n### Max Tkacz | Senior Developer Advocate @ n8n","height":197.19036476628202,"width":411.2946586626259,"color":7},"id":"14b3231d-aa96-4783-be8f-cb2f70b0bc7f","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[9220,240],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"whitepapers","cachedResultName":"whitepapers"},"options":{"clearNamespace":true,"pineconeNamespace":"whitepaper"}},"id":"c9a2fcdc-c8ab-4b9d-9979-4fd7cca1e8a8","name":"Insert into Pinecone vector store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[4920,600],"typeVersion":1},{"parameters":{"toolDescription":"Call this tool to book an appointment in the calendar. ","method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/max@n8n.io/events","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"summary\": \"Appointment with {userName}\",\n  \"start\": {\n    \"dateTime\": \"{startTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  },\n  \"end\": {\n    \"dateTime\": \"{endTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  },\n  \"attendees\": [\n    {\"email\": \"max@n8n.io\"},\n    {\"email\": \"{userEmail}\"}\n  ]\n}","placeholderDefinitions":{"values":[{"name":"userName","description":"The full name of the user making the appointment. Like John Doe"},{"name":"startTime","description":"The start time of the event in Europe/Berlin timezone. For example, 2024-07-24T10:00:00+02:00"},{"name":"endTime","description":"The end time of the event in Europe/Berlin timezone. It should always be 30 minutes after the startTime. "},{"name":"userEmail","description":"The email address of the user making the appointment"}]}},"id":"6a890c74-67f9-4eee-bb56-7c9a68921ae1","name":"Book appointment","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[8060,700],"typeVersion":1},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nI can help you schedule an appointment with Max Tkacz. On which day would you like to meet?","options":{"title":"Book an appointment with Max"}},"id":"7f6e62f2-2d72-4fd2-a6ef-e57028d0055b","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[5600,620],"webhookId":"c348693e-9c43-4bf2-90a5-23786273e809","typeVersion":1.1},{"parameters":{"content":"### Explore 100+ AI Workflow templates on n8n.io\n[Open Templates Library](https://n8n.io/workflows)","height":80,"width":411.2946586626259,"color":7},"id":"52c65975-479d-4c76-bcd3-23f5c9bb6acf","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[9220,460],"typeVersion":1},{"parameters":{"content":"### Ask a question in our community (13k+ members)\n[Explore n8n community](https://community.n8n.io/)","height":80,"width":411.2946586626259,"color":7},"id":"ba0635c0-2ca4-4b27-b960-3a0e0f93a56a","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[9220,560],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{"temperature":0.5}},"id":"29227c52-a9cc-4bd1-b1a3-78fb805b659c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3260,660],"typeVersion":1},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4763053241338138112"]},"id":"494a2868-9ff5-402c-b83b-6dd2c3ddbcc9","name":"Add automation label","type":"n8n-nodes-base.gmail","position":[3760,300],"typeVersion":2.1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"0f9d834d-ec47-43f5-945b-8c464d371122","name":"On new email to nathan's inbox","type":"n8n-nodes-base.gmailTrigger","position":[3040,460],"typeVersion":1.1,"disabled":true},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6822395192337188416"]},"id":"142e2a49-40bd-4bf5-9ba3-f14ecd68618e","name":"Add music label","type":"n8n-nodes-base.gmail","position":[3760,500],"typeVersion":2.1},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"automation","description":"email on the topic of automation or workflows and automated processes, includes newsletters on this topic"},{"category":"music","description":"email on the topic of music, for example from an artist "}]},"options":{}},"id":"2eb46753-a0e8-43ec-a460-466b1dd265c9","name":"Assign label with AI","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[3280,460],"typeVersion":1},{"parameters":{"path":"74facfd7-0f51-4605-9724-2c300594fcf9","options":{}},"id":"576d8206-1b1e-4671-ba45-86e9d844a73b","name":"Webhook","type":"n8n-nodes-base.webhook","position":[1860,460],"webhookId":"74facfd7-0f51-4605-9724-2c300594fcf9","typeVersion":2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0b16c44-03ea-4e96-9671-7b168697186d","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.query.email }}","rightValue":"@n8n"}]},"options":{}},"id":"1e612376-1a3b-4c48-9cd3-97867ba4cad5","name":"Whether email contains n8n","type":"n8n-nodes-base.if","position":[2060,460],"typeVersion":2}],"connections":{"Webhook":{"main":[[{"node":"Whether email contains n8n","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Insert into Pinecone vector store","type":"main","index":0}]]},"Book appointment":{"ai_tool":[[{"node":"Appointment booking agent","type":"ai_tool","index":0}]]},"PDFs to download":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert into Pinecone vector store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Read Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Assign label with AI","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Pinecone vector store","type":"ai_document","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Appointment booking agent","type":"ai_languageModel","index":0}]]},"Assign label with AI":{"main":[[{"node":"Add automation label","type":"main","index":0}],[{"node":"Add music label","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Appointment booking agent","type":"ai_memory","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Get calendar availability":{"ai_tool":[[{"node":"Appointment booking agent","type":"ai_tool","index":0}]]},"Read Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Whether email contains n8n":{"main":[[{"node":"Execute JavaScript","type":"main","index":0},{"node":"Send message","type":"main","index":0}]]},"On new email to nathan's inbox":{"main":[[{"node":"Assign label with AI","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2358"},"pinData":{},"versionId":"857c07ce-623f-479b-841c-500e881a89d0","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T12:05:51.630Z","updatedAt":"2024-08-30T13:03:46.007Z","id":"O8gBetZROuvF3ugk","name":"Ask questions about a PDF using AI","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://docs.google.com/document/d/1ofT2J0Tm70TSrIvuYiqfVSdbbf6x6N5N/edit?usp=drive_link&ouid=103364539373850207494&rtpof=true&sd=true","mode":"url"},"options":{}},"id":"40bb5497-d1d2-4eb7-b683-78b88c8d9230","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[620,340],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"1323d520-1528-4a5a-9806-8f4f45306098","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1116.8347832043557,740],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"796b155a-64e6-4a52-9168-a37c68077d99","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[956.8347832043557,560],"typeVersion":1,"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"content":"### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index","height":806.6556079800943,"width":978.0454109366399,"color":7},"id":"dbe42c28-6f0b-4999-8372-0b42f6fb5916","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ","height":806.8716167324012,"width":654.1028019808174,"color":7},"id":"43dc3736-834d-4322-8fd2-7826b0208c4b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1640,240],"typeVersion":1},{"parameters":{"dataType":"binary","options":{}},"id":"53b18460-8ad6-425a-a01f-c2295cfddde8","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1116.8347832043557,560],"typeVersion":1},{"parameters":{"content":"## Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in *both* Pinecone nodes\n2. Click 'test workflow' at the bottom of the canvas to load data into the vector store\n3. Click 'chat' at the bottom of the canvas to ask questions about the data","height":264.61498034081166},"id":"e729a021-eab3-48fa-a818-457efcaeebb2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[100,560],"typeVersion":1},{"parameters":{},"id":"3e17c89c-620d-4892-b944-d792e48e3772","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[1680,341],"typeVersion":1.2},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"516507f9-d0d9-4975-85d0-a7852ee41518","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1680,561],"typeVersion":1,"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"8b0a5d26-a60a-40ab-8200-72f542532096","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1820,901],"typeVersion":1,"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"07f61d20-cf50-48e8-9d34-92244af436cb","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[1880,560],"typeVersion":1},{"parameters":{},"id":"d35db9e1-4efc-4980-9814-55fbe65e08fd","name":"When clicking 'Test Workflow' button","type":"n8n-nodes-base.manualTrigger","position":[200,340],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"50025ff5-1b53-475f-b150-2aafef1c4c21","name":"file_url","type":"string","value":"https://docs.google.com/document/d/1ofT2J0Tm70TSrIvuYiqfVSdbbf6x6N5N/edit?usp=drive_link&ouid=103364539373850207494&rtpof=true&sd=true"}]},"options":{}},"id":"4c04f576-e834-467d-98b4-38a2d501d82f","name":"Set Google Drive file URL","type":"n8n-nodes-base.set","position":[420,340],"typeVersion":3.3},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"vector","mode":"list","cachedResultName":"vector"},"options":{"clearNamespace":false,"pineconeNamespace":"Gonstead"}},"id":"cc5e6897-9d0b-4352-a882-5dc23104bf97","name":"Insert into Pinecone vector store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[980,340],"typeVersion":1,"credentials":{"pineconeApi":{"id":"dA5fCoOGOUlZe2zf","name":"PineconeApi account"}}},{"parameters":{},"id":"c358aa73-b60f-453f-a3ef-539faa98c9b5","name":"When clicking 'Chat' button below","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1480,340],"webhookId":"e259b6fe-b2a9-4dbc-98a4-9a160e7ac10c","typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"vector","mode":"list","cachedResultName":"vector"},"options":{"pineconeNamespace":"Gonstead"}},"id":"0777de17-99a0-499a-b71f-245d5f76642e","name":"Read Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[1820,740],"typeVersion":1,"credentials":{"pineconeApi":{"id":"dA5fCoOGOUlZe2zf","name":"PineconeApi account"}}}],"connections":{"Google Drive":{"main":[[{"node":"Insert into Pinecone vector store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert into Pinecone vector store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Read Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Pinecone vector store","type":"ai_document","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Set Google Drive file URL":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking 'Test Workflow' button":{"main":[[{"node":"Set Google Drive file URL","type":"main","index":0}]]},"When clicking 'Chat' button below":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Read Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1960","templateCredsSetupCompleted":true},"pinData":{},"versionId":"660a2dfc-9bc2-4fc6-bed2-59825a34c0d5","triggerCount":0,"tags":[]},{"createdAt":"2024-08-23T05:01:41.964Z","updatedAt":"2024-08-30T05:27:26.321Z","id":"j8NbDWlG34q6z0nD","name":"AI agent chat","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"939bb301-5e12-4d5b-9a56-61a61cca5f0d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[660,460],"typeVersion":1,"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"372777e8-ce90-4dea-befc-ac1b2eb4729f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[800,460],"typeVersion":1.2},{"parameters":{"options":{}},"id":"7a8f0ad1-1c00-4043-b3e5-c88521140a1a","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[1220,440],"typeVersion":1,"credentials":{"serpApi":{"id":"hkziwCtdEQfscX3F","name":"SerpAPI account"}}},{"parameters":{"options":{}},"id":"a7624108-e3da-4193-a625-887314216b8b","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[380,240],"webhookId":"53c136fe-3e77-4709-a143-fe82746dd8b6","typeVersion":1.1},{"parameters":{},"id":"6923dc00-f95a-4962-babb-c682566b2c3d","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[960,580]},{"parameters":{"tableName":{"__rl":true,"mode":"id","value":""},"options":{}},"id":"8925c3df-9875-4a1a-b28c-3f0fe35ba07c","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[880,780],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"id":"d67ca20a-5eb1-4b2a-82b1-5d9f81ce46eb","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[940,960],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"options":{}},"id":"6b8b7de8-fe3f-43b5-97ce-a52a9e44eb5e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[700,240],"typeVersion":1.6}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1954","templateCredsSetupCompleted":true},"pinData":{},"versionId":"aae224f0-898f-4a91-a8b5-dc98b90bca92","triggerCount":0,"tags":[]},{"createdAt":"2024-02-23T16:58:31.616Z","updatedAt":"2024-02-23T16:58:31.616Z","id":"srOnR8PAY3u4RSwb","name":"Demo workflow","active":false,"nodes":[{"parameters":{},"id":"74003dcd-2ac7-4caa-a1cd-adecc5143c07","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,340],"webhookId":"cdb5c076-d458-4b9d-8398-f43bd25059b1"},{"parameters":{},"id":"ce8c3da4-899c-4cc4-af73-8096c64eec64","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.3,"position":[880,340]},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"3dee878b-d748-4829-ac0a-cfd6705d31e5","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[900,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2affe6-bb1c-4ddc-92f9-dde0b7656796","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T21:24:46.985Z","updatedAt":"2024-08-30T22:49:44.580Z","id":"LvuFauGnI3fsBRU9","name":"MAESTRO","active":false,"nodes":[{"parameters":{},"id":"f7edce85-b169-4ff8-8b6e-e597a9f1a6a7","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","typeVersion":1.1,"position":[820,400]},{"parameters":{"options":{}},"id":"649e239e-b5c2-44b0-9a4d-cdc986496ce5","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1380,300]},{"parameters":{"options":{}},"id":"cc6bd3f1-d5c9-4f36-aef1-83631973a911","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1000,620],"credentials":{"anthropicApi":{"id":"9wvMhe1mXBWB0nGW","name":"Anthropic account"}}},{"parameters":{"agent":"planAndExecuteAgent","options":{"humanMessageTemplate":"Based on the following objective please break down the objective into the next sub-task, and create a concise and detailed prompt for a subagent so it can execute that task. IMPORTANT!!! when dealing with code tasks make sure you check the code for errors and provide fixes and support as part of the next sub-task. If you find any bugs or have suggestions for better code, please include them in the next sub-task prompt. Please assess if the objective has been fully achieved. \n\n\nIf the previous sub-task results comprehensively address all aspects of the objective, include the phrase 'The task is complete:' at the beginning of your response. \n\nIf the objective is not yet fully achieved, break it down into the next sub-task and create a concise and detailed prompt for a subagent to execute that task.\n\nPrevious steps: {previous_steps}\n\nCurrent objective: {current_step}\n\n{agent_scratchpad}\n\nYou may extract and combine relevant data from your previous steps when responding to me."}},"id":"fdd48c46-1d52-458c-96e6-0f6402eda0cb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1000,400]},{"parameters":{},"id":"8558b51e-aad0-4224-8832-a3466ee36fc1","name":"LangChain Code","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1280,100]}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfa6728e-3435-436e-96a3-fee30979a03a","triggerCount":0,"tags":[]},{"createdAt":"2024-08-27T22:25:54.448Z","updatedAt":"2024-08-30T07:03:46.495Z","id":"ImFXspglJtIqa9JP","name":"Add Google Drive File to Vector DB Webhook","active":false,"nodes":[{"parameters":{},"id":"99d91946-f273-4b14-8ac2-b1c8eb801b9c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[160,280]},{"parameters":{"method":"POST","url":"https://n8n.yoururl.com/webhook/add_doc_to_vector_db","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.query.query }}"}]},"options":{}},"id":"0b9e2769-e454-4dd2-ab43-ae939172f605","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,280],"credentials":{"httpHeaderAuth":{"id":"XompOZG6Hsf3RKxC","name":"Header Auth account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58eb536f-199e-4faf-8490-fc602017bb0c","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T23:23:12.226Z","updatedAt":"2024-08-30T23:23:12.226Z","id":"GDBXR4dDSWPh1fno","name":"My workflow 2","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://YOUR_PINECONE_INDEX_NAME.svc.YOUR_PINECONE_PROJECT_REGION.pinecone.io/query","options":{}},"id":"f59f6e21-c228-4b08-8aa1-0e5e7c8a3920","type":"n8n-nodes-base.httpRequest","name":"Pinecone Query","position":[1960,-60]},{"parameters":{"options":{}},"id":"931bb7bd-1d36-4a05-80ce-7b46265a394f","type":"n8n-nodes-base.set","name":"Set Context","position":[2260,-60]},{"parameters":{"method":"POST","url":"https://YOUR_PINECONE_INDEX_NAME.svc.YOUR_PINECONE_PROJECT_REGION.pinecone.io/vectors/upsert","options":{}},"id":"281544c8-d114-477f-9807-6499c04a9073","type":"n8n-nodes-base.httpRequest","name":"Pinecone Upsert","position":[2560,-60]},{"parameters":{"options":{}},"id":"b58b37a2-3f5e-443c-82a5-653a4980c3b9","type":"n8n-nodes-base.set","name":"Set Response Message","position":[2860,-60]},{"parameters":{"responseMode":"lastNode","responseData":{"key":"message","setValue":"={{$json[\"message\"]}}"}},"id":"9bddce2c-9568-490f-9919-ceb2a633a705","type":"n8n-nodes-base.webhookResponse","name":"Respond","position":[3160,-60]},{"parameters":{"path":"1706065","options":{}},"id":"dc720098-e0ee-44db-87ad-e1afafe1e097","type":"n8n-nodes-base.webhook","name":"Start Interaction Webhook","position":[1660,-60]}],"connections":{"Pinecone Query":{"main":[[{"node":"Set Context","type":"main","index":0}]]},"Set Context":{"main":[[{"node":"Pinecone Upsert","type":"main","index":0}]]},"Pinecone Upsert":{"main":[[{"node":"Set Response Message","type":"main","index":0}]]},"Start Interaction Webhook":{"main":[[{"node":"Pinecone Query","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"f81b2de4-a3dd-4422-9771-a672c9ea280c","triggerCount":0,"tags":[]},{"createdAt":"2024-09-05T08:04:30.092Z","updatedAt":"2024-09-05T08:15:58.639Z","id":"hjK4Th7SMNH4kAD7","name":"Credential Backup","active":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"database","value":"/home/n8n/.n8n/database.sqlite"},{"name":"config","value":"/home/n8n/.n8n/config"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[670,300],"alwaysOutputData":true,"id":"ee1cc98e-1ec9-4c5e-bc4e-f9a13af1fc88"},{"parameters":{"path":"={{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"},"name":"Upload Config","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[940,410],"id":"14ae47e7-69b0-4c27-ada3-c01d062928b3","credentials":{"dropboxApi":{"id":"Xav1bkdE09SKlred","name":"Dropbox account"}},"notes":"Upload config"},{"parameters":{"path":"={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"},"name":"Upload DB","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[940,80],"id":"4be175fe-2c71-4615-b62c-3edb1b71857a","credentials":{"dropboxApi":{"id":"Xav1bkdE09SKlred","name":"Dropbox account"}},"notes":"Upload database"},{"parameters":{},"name":"Start Backup","type":"n8n-nodes-base.start","typeVersion":1,"position":[470,300],"id":"67654165-7680-4122-b700-8363a7df3021"}],"connections":{"Set":{"main":[[{"node":"Upload Config","type":"main","index":0},{"node":"Upload DB","type":"main","index":0}]]},"Start Backup":{"main":[[{"node":"Set","type":"main","index":0}]]},"Upload DB":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28414dab-9423-4bc4-8a32-dab8b00234a3","triggerCount":0,"tags":[]},{"createdAt":"2024-09-04T00:25:14.821Z","updatedAt":"2024-09-04T00:25:14.821Z","id":"0nzr9HQRbmOKSXkN","name":"My workflow 3","active":false,"nodes":[{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"list","value":"C079GL6K3U6","cachedResultName":"general"},"text":"=Data from webhook:  {{ $json.query.email }}","otherOptions":{}},"id":"c55acec9-3311-4fdb-ab54-b8e2e97a97d1","name":"Send message","type":"n8n-nodes-base.slack","position":[-220,820],"typeVersion":2.2},{"parameters":{"content":"![h](https://i.postimg.cc/9XLvL5dL/slide-sf-talk.png#full-width)","height":677.0358687053997,"width":1163.3132111854613,"color":7},"id":"510bbb81-04d5-4480-9928-398931ea0db6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-2180,480],"typeVersion":1},{"parameters":{"content":"# What is n8n?\n### Low-code Automation Platform for technical teams","height":99,"width":437,"color":7},"id":"141088de-eba4-4b9e-a000-872df4c97004","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-700,480],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"daf5c5ae-ca21-4f21-8c09-fb8085a48190","name":"Execute JavaScript","type":"n8n-nodes-base.code","position":[-220,620],"typeVersion":2},{"parameters":{"content":"# Example #2\n### RAG with PDF as source","height":106,"width":318,"color":6},"id":"730a9cee-2732-4821-b0ca-ad6f2b2cce8a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1880,480],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"4c4968de-ac3f-4658-8ce8-db781664a178","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2560,1240],"typeVersion":1},{"parameters":{"options":{}},"id":"88a7bee8-591d-4d6b-9388-0f2fc2db698d","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2320,1060],"typeVersion":1},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{"metadata":{"metadataValues":[{"name":"document-title","value":"={{ $('PDFs to download').item.json.whitepaper_title }}"},{"name":"document-publish-year","value":"={{ $('PDFs to download').item.json.publish_year }}"},{"name":"document-author","value":"={{ $('PDFs to download').item.json.author }}"}]}}},"id":"d8b58272-d2f7-4c17-bbcd-194349821916","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2540,1060],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{"temperature":0.3}},"id":"90c94560-aca8-4cc6-8cb6-6ec8ff7e9006","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3280,1080],"typeVersion":1},{"parameters":{"options":{}},"id":"100ab8bf-7c9f-4ecf-89ae-c8e375c9acd1","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[3420,1380],"typeVersion":1},{"parameters":{},"id":"c7d5203e-828f-49f7-a0f6-9d7412728b24","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[3480,1080],"typeVersion":1},{"parameters":{"url":"={{ $json.file_url }}","options":{}},"id":"f3d46df7-6d8f-4c83-9d6a-b8aadf731d87","name":"Download PDF","type":"n8n-nodes-base.httpRequest","position":[2140,840],"typeVersion":4.2},{"parameters":{},"id":"63ff4ca2-56cc-4cce-9cc2-9eddccc82aa6","name":"PDFs to download","type":"n8n-nodes-base.noOp","position":[1880,840],"notesInFlow":true,"typeVersion":1,"notes":"BTC Whitepaper + metadata"},{"parameters":{"content":"## A. Load PDF into Pinecone\nDownload the PDF, then text embeddings into Pincecone","height":91.0723900084547,"width":414.36616595939887,"color":4},"id":"b6f2a27e-aacc-4c1a-8e38-90daaf5bda53","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1880,680],"typeVersion":1},{"parameters":{"content":"## B. Chat with PDF\nUse GPT4o to chat with Pinecone index","height":86.95121951219511,"width":284.62109466374466,"color":4},"id":"6f54c963-1aa0-4860-a7a4-5ee9f722bc38","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[3040,700],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"whitepapers","cachedResultName":"whitepapers"},"options":{"pineconeNamespace":"whitepaper"}},"id":"d4cb517c-213a-4891-a25d-aafbdbde16de","name":"Read Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[3420,1220],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}. \nOnly use vector store knowledge to answer the question. Don't make anything up. If you don't know the answer, tell the user that you don't know."},"id":"ed14b747-2016-43fb-8586-3941adc06ff4","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[3280,860],"typeVersion":1.3},{"parameters":{"content":"# Example #3\n### AI Assistant that knows how to use predefined API endpoints ","height":106,"width":504.25,"color":6},"id":"034f1c75-436d-45b3-9205-a2bc0d5b0a42","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[4820,480],"typeVersion":1},{"parameters":{"content":"# Example #1\n### Categorize incoming emails with AI","height":111,"width":318,"color":6},"id":"29a5aa5f-8035-4f7e-926f-eaa52e2d797f","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[460,460],"typeVersion":1},{"parameters":{"options":{"temperature":0.4}},"id":"4db400d8-ec04-4213-8c72-8c59abb43ca0","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[5020,940],"typeVersion":1.2},{"parameters":{"toolDescription":"Call this tool to get the appointment availability for a particular period on the calendar. The tool may refer to availability as \"Free\" or \"Busy\". \n\nUse {timeMin} and {timeMax} to specify the window for the availability query. For example, to get availability for 25 July, 2024 the {timeMin} would be 2024-07-25T09:00:00+02:00 and {timeMax} would be 2024-07-25T17:00:00+02:00.\n\nIf the tool returns an empty response, it means that something went wrong. It does not mean that there is no availability.","method":"POST","url":"https://www.googleapis.com/calendar/v3/freeBusy","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"timeMin\": \"{timeMin}\",\n  \"timeMax\": \"{timeMax}\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"groupExpansionMax\": 20,\n  \"calendarExpansionMax\": 10,\n  \"items\": [\n    {\n      \"id\": \"max@n8n.io\"\n    }\n  ]\n}"},"id":"fc8be284-6cb3-4567-93a3-9746d73d063a","name":"Get calendar availability","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[5340,940],"typeVersion":1},{"parameters":{"options":{"systemMessage":"=You are an efficient and courteous assistant tasked with scheduling appointments with Max Tkacz.\n\nWhen users mention an appointment or meeting, they are referring to a meeting with Max.\nWhen users refer to the calendar or \"your schedule,\" they are referring to Max's calendar. \n\nYou can use various tools to access and manage Max's calendar. Your primary goal is to assist users in successfully booking an appointment with Max, ensuring no scheduling conflicts. Only book an appointment if the requested time slot is available (the tool may refer to this as \"Free\")\n\nToday's date is {{ $today.format('dd LLL yyyy') }}.\nAppointments are always 30 minutes in length. \n\n\nProvide accurate information at all times. If the tools are not functioning correctly, inform the user that you are unable to assist them at the moment.\n"}},"id":"3858d977-57de-43d6-860f-93f925a5fa49","name":"Appointment booking agent","type":"@n8n/n8n-nodes-langchain.agent","position":[5120,720],"typeVersion":1.6},{"parameters":{"content":"![h](https://i.imghippo.com/files/d9Bgv1721858679.png#full-width)\n[Open Calendar](https://calendar.google.com/calendar/u/0/r/day/2024/7/26)","height":571.8601927804875,"width":327.46658341463433,"color":7},"id":"d92d263d-e309-400d-8bd0-9b5a3d66fdf0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[5740,680],"typeVersion":1},{"parameters":{"contextWindowLength":10},"id":"d3f0a6c6-28f6-47ed-ac5b-908956268b8f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[5160,940],"typeVersion":1.2},{"parameters":{"content":"![h](https://i.postimg.cc/kXW9XrZt/Screenshot-2024-07-24-at-15-18-27.png#full-width)\nBTC Whitepaper references","height":403.1877919219511,"width":615.2162978341456,"color":7},"id":"b64c2639-d733-48c5-b77c-9e4764d540a8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3820,880],"typeVersion":1},{"parameters":{"content":"### Connect with me or explore this demo 👇\n![QR](https://i.postimg.cc/VNkdCLQh/frame.png#full-width)","height":398.9629539487597,"width":345.33741540309194,"color":7},"id":"96d443d4-8176-4886-8fd9-134ca7ccf49f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[7100,480],"typeVersion":1},{"parameters":{"content":"# Thank you and happy flowgramming 🤘\n\n### Max Tkacz | Senior Developer Advocate @ n8n","height":197.19036476628202,"width":411.2946586626259,"color":7},"id":"da184e1a-77e8-4942-a2c5-e5277adf00e9","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[6660,480],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"whitepapers","cachedResultName":"whitepapers"},"options":{"clearNamespace":true,"pineconeNamespace":"whitepaper"}},"id":"c9b1b7af-7881-4eb0-9fab-ffaaa3468fd5","name":"Insert into Pinecone vector store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[2360,840],"typeVersion":1},{"parameters":{"toolDescription":"Call this tool to book an appointment in the calendar. ","method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/max@n8n.io/events","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"summary\": \"Appointment with {userName}\",\n  \"start\": {\n    \"dateTime\": \"{startTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  },\n  \"end\": {\n    \"dateTime\": \"{endTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  },\n  \"attendees\": [\n    {\"email\": \"max@n8n.io\"},\n    {\"email\": \"{userEmail}\"}\n  ]\n}","placeholderDefinitions":{"values":[{"name":"userName","description":"The full name of the user making the appointment. Like John Doe"},{"name":"startTime","description":"The start time of the event in Europe/Berlin timezone. For example, 2024-07-24T10:00:00+02:00"},{"name":"endTime","description":"The end time of the event in Europe/Berlin timezone. It should always be 30 minutes after the startTime. "},{"name":"userEmail","description":"The email address of the user making the appointment"}]}},"id":"eb4a950f-2f59-45a4-99fc-2d5818c24c39","name":"Book appointment","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[5500,940],"typeVersion":1},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nI can help you schedule an appointment with Max Tkacz. On which day would you like to meet?","options":{"title":"Book an appointment with Max"}},"id":"8ef950e1-0ae1-4762-97b1-924ee4d63d6d","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[3040,860],"webhookId":"c348693e-9c43-4bf2-90a5-23786273e809","typeVersion":1.1},{"parameters":{"content":"### Explore 100+ AI Workflow templates on n8n.io\n[Open Templates Library](https://n8n.io/workflows)","height":80,"width":411.2946586626259,"color":7},"id":"f5ed05a8-e1e2-4929-bb2a-44571ec788d9","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[6660,700],"typeVersion":1},{"parameters":{"content":"### Ask a question in our community (13k+ members)\n[Explore n8n community](https://community.n8n.io/)","height":80,"width":411.2946586626259,"color":7},"id":"b4517b41-c568-4bce-b9af-6d7b8498e753","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[6660,800],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{"temperature":0.5}},"id":"2194d086-4395-4c64-95c1-f83574cfa5a4","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[700,900],"typeVersion":1},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4763053241338138112"]},"id":"5c7fb13c-49b0-4d66-886f-5619905c56ba","name":"Add automation label","type":"n8n-nodes-base.gmail","position":[1200,540],"typeVersion":2.1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"98b54365-724d-49c4-af5f-a1ea27e69080","name":"On new email to nathan's inbox","type":"n8n-nodes-base.gmailTrigger","position":[480,700],"typeVersion":1.1,"disabled":true},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6822395192337188416"]},"id":"aef9340e-3ce2-48a4-80cd-7a881e3623ea","name":"Add music label","type":"n8n-nodes-base.gmail","position":[1200,740],"typeVersion":2.1},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"automation","description":"email on the topic of automation or workflows and automated processes, includes newsletters on this topic"},{"category":"music","description":"email on the topic of music, for example from an artist "}]},"options":{}},"id":"bd8f783e-2b81-4852-979c-0b7f9d9170a4","name":"Assign label with AI","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[720,700],"typeVersion":1},{"parameters":{"path":"74facfd7-0f51-4605-9724-2c300594fcf9","options":{}},"id":"2ae44453-6e32-45ba-b56c-302e29341942","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-700,700],"webhookId":"74facfd7-0f51-4605-9724-2c300594fcf9","typeVersion":2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0b16c44-03ea-4e96-9671-7b168697186d","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.query.email }}","rightValue":"@n8n"}]},"options":{}},"id":"9b38f9b5-d601-420e-acd8-7ead3759a18c","name":"Whether email contains n8n","type":"n8n-nodes-base.if","position":[-500,700],"typeVersion":2}],"connections":{"Webhook":{"main":[[{"node":"Whether email contains n8n","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Insert into Pinecone vector store","type":"main","index":0}]]},"Book appointment":{"ai_tool":[[{"node":"Appointment booking agent","type":"ai_tool","index":0}]]},"PDFs to download":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert into Pinecone vector store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Read Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Assign label with AI","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Pinecone vector store","type":"ai_document","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Appointment booking agent","type":"ai_languageModel","index":0}]]},"Assign label with AI":{"main":[[{"node":"Add automation label","type":"main","index":0}],[{"node":"Add music label","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Appointment booking agent","type":"ai_memory","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Get calendar availability":{"ai_tool":[[{"node":"Appointment booking agent","type":"ai_tool","index":0}]]},"Read Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Whether email contains n8n":{"main":[[{"node":"Execute JavaScript","type":"main","index":0},{"node":"Send message","type":"main","index":0}]]},"On new email to nathan's inbox":{"main":[[{"node":"Assign label with AI","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"05266dd9-7a51-41a3-b976-33f415f08c24","triggerCount":0,"tags":[]},{"createdAt":"2024-08-30T13:04:11.885Z","updatedAt":"2024-08-30T16:07:23.876Z","id":"N4OdIdgRfxkzUtlY","name":"Supabase RAG","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://docs.google.com/document/d/1ofT2J0Tm70TSrIvuYiqfVSdbbf6x6N5N/edit?usp=drive_link&ouid=103364539373850207494&rtpof=true&sd=true","mode":"url"},"options":{}},"id":"03afe1fe-49b1-40a0-8104-b55268ab9cb0","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[620,340],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"63g5FARfUTzRukOJ","name":"Google Drive account"}}},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"862f1915-e4f3-4493-a4c5-6ab8f0eec74c","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1116.8347832043557,740],"typeVersion":1},{"parameters":{"content":"### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index","height":806.6556079800943,"width":978.0454109366399,"color":7},"id":"ba340551-b4ef-4162-89b5-a839dba6b1d3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ","height":806.8716167324012,"width":654.1028019808174,"color":7},"id":"ac5893a2-7725-4e66-8a92-45b3b6e6dbf5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1640,240],"typeVersion":1},{"parameters":{"dataType":"binary","options":{}},"id":"d47e1a3c-6854-453c-ba20-95472f9c80bf","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1080,560],"typeVersion":1},{"parameters":{"content":"## Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in *both* Pinecone nodes\n2. Click 'test workflow' at the bottom of the canvas to load data into the vector store\n3. Click 'chat' at the bottom of the canvas to ask questions about the data","height":264.61498034081166},"id":"81b383a1-faa3-4181-b41d-883d22fed3e5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[100,560],"typeVersion":1},{"parameters":{},"id":"272d037a-e206-4db6-93f1-073813fd0460","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[1680,341],"typeVersion":1.2},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"420c26f8-153a-4739-824e-48408112e4e9","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1680,561],"typeVersion":1,"credentials":{"openAiApi":{"id":"Fv12WcNrQ5A9mIEB","name":"OpenAi account"}}},{"parameters":{},"id":"10dcc014-7462-4ba7-af6a-de1e9517b23f","name":"When clicking 'Test Workflow' button","type":"n8n-nodes-base.manualTrigger","position":[200,340],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"50025ff5-1b53-475f-b150-2aafef1c4c21","name":"file_url","type":"string","value":"https://docs.google.com/document/d/1ofT2J0Tm70TSrIvuYiqfVSdbbf6x6N5N/edit?usp=drive_link&ouid=103364539373850207494&rtpof=true&sd=true"}]},"options":{}},"id":"2a4268c5-b421-4c44-9645-38a5a4076725","name":"Set Google Drive file URL","type":"n8n-nodes-base.set","position":[420,340],"typeVersion":3.3},{"parameters":{},"id":"5680acc2-ab64-41e7-a33f-bf1ce03d80f4","name":"When clicking 'Chat' button below","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1480,340],"webhookId":"4d0649b1-a0d9-4d40-9143-32759127e439","typeVersion":1},{"parameters":{},"id":"356a4e3c-2c7f-46a1-8744-eb41fda065a5","name":"Vector Store Retriever1","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1800,560]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"688a01df-b274-47d7-83a9-d360a3868446","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1760,940],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"model":"nomic-embed-text:latest"},"id":"b2e39c8e-9c3d-47ad-9fd5-b61c2a84175b","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[880,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"posts","mode":"list","cachedResultName":"posts"},"options":{}},"id":"eea70ee4-7207-430d-a514-b4e9e1429ff1","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[880,340],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}},{"parameters":{"tableName":{"__rl":true,"value":"posts","mode":"list","cachedResultName":"posts"},"options":{}},"id":"0b7361fc-7967-4ac9-9f45-ef0db50b2dcb","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1760,740],"credentials":{"supabaseApi":{"id":"TJA5aF4SgZt2o8nx","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Set Google Drive file URL":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking 'Test Workflow' button":{"main":[[{"node":"Set Google Drive file URL","type":"main","index":0}]]},"When clicking 'Chat' button below":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Vector Store Retriever1":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever1","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1960","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e953325-d7ea-4d31-b01d-5b9015bfa4f7","triggerCount":0,"tags":[]}]